  <div class="justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand centernav" href="#">MoviesPortal</a>
      <button (click)="togglenavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" [class.show]="isopen" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link centertoggle" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">All Movies <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="(isUser && MyUser.type == 1)">
            <a class="nav-link centertoggle" routerLink="/addmovie" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Movie</a>
          </li>
          <li class="nav-item" *ngIf="(isUser && MyUser.type == 2)">
            <a class="nav-link centertoggle" routerLink="/MyViews" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Views</a>
          </li>
          <li class="nav-item" *ngIf="!isUser">
            <a class="nav-link centertoggle" routerLink="/signIn" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="!isUser">
            <a class="nav-link centertoggle" routerLink="/signUp" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sign Up</a>
          </li>

          <li class="nav-item text-center" *ngIf="isUser">
          <button type="button" class="btn btn-outline" [autoClose]="true" [ngbPopover]="popContent" [popoverTitle]="popTitle"
                  style="width: 50px;height: 40px;">
            <mat-icon style="color: crimson;">person_pin</mat-icon>
          </button>
          <ng-template #popTitle><p class="text-center" style="padding-top: 15px;"><b>{{MyUser.firstname | titlecase}} {{MyUser.lastname}}</b></p></ng-template>
          <ng-template #popContent>
            <p class="text-center"><b>{{MyUser.email}}</b></p>
            <p class="text-center" *ngIf="isUser && !MyUser.password">You sign with Google. So You Can`t Update password or Delete Account</p>
            <button class="btn btn-light btn-block" *ngIf="isUser && MyUser.password" (click)="UpdatePassword()">Update Password</button>
            <button class="btn btn-danger btn-block" (click)="DeleteMyAccount()" *ngIf="isUser && MyUser.password">Delete Account</button>
            <small class="form-text text-muted" style="text-align: center;" *ngIf="isUser && MyUser.password">If clicked on Delete Account,Your account will be deleted directly.</small>
            <button class="btn btn-primary btn-block" (click)="signOut()" *ngIf="isUser">LogOut</button>
          </ng-template>
        </li>
        </ul>
      </div>
    </nav>
  </div>