.moveimg{
    height: 350px;
}

.moveimg:hover {
    box-shadow: 0 0 2px 1px crimson;
    
  }
  .top-right {
    position: absolute;
    top: 2px;
    right: 5px;
  }
  .top-left {
    position: absolute;
    top: 2px;
    left: 5px;
  }

  /*============== Loading data spinner ===================*/
.loading-spinner {
  position: absolute;
  left: 680px;
  top: 110px;
  z-index: 1;
}
  /*============== If no movies to show ===================*/
.borderdiv{
    border: 1px solid crimson !important;
    border-radius: 16px;
    margin-top: 200px;
}
.header{
    border: 1px solid crimson !important;
    border-radius: 16px;
    height: 100px;
}
.h{
    text-align: center;
    padding-top: 10px
}
.p{
    text-align: center;
    color:crimson;
}
.paginationbuttom{
  margin-top: 220px;
}
  
