
    <div class="body">
        <br>
        <div class="row">
            
        </div>
    <div class="bg-image" style="background-image: url(assets/Imgs/logo.jpg);"></div>

    <div class="bg-text text-center">
        <form #f="ngForm" (ngSubmit)="loginWithEP(f)" class="text-center p-5" style="margin: 0 auto; max-width: 300px;">
            <p class="h4 mb-4">Sign in</p>
            <input type="email" name="email" ngModel #email="ngModel" class="form-control mb-4" placeholder="E-mail" required email>
            <div class="alert alert-danger" *ngIf="email.touched && ( email.errors?.required || email.errors?.email)">
                <small *ngIf="email.errors?.required">this Field is required, please enter your Email</small>
                <small *ngIf="email.errors?.email">Oooops, this is not exact Email</small>
            </div>
            <input type="password" name="password" ngModel #password="ngModel" class="form-control mb-4" placeholder="Password" required>
            <div class="alert alert-danger"  *ngIf="password.errors?.required && password.touched">
                <small class="mb-4">this Field is required, please enter your password</small>
            </div>
            
            <!-- Sign in button -->
            <button type="submit" class="btn mb-4 btn-danger" [disabled]="f.invalid"><span *ngIf="clickedEP" class="spinner-border spinner-border-sm"></span>
                Sign in</button>
            
            <button type="button" class="btn btn-light" (click)="login_signUpwithGoogle()"><span *ngIf="clickedgoogle" class="spinner-border spinner-border-sm"></span>
                <img class="icon" src="./../assets/Imgs/icon-google.png"> Sign with Google</button>
            <!-- Register -->
            <p style="margin-top: 20px;">Not a member?
            <a routerLink="/signUp">Sign up</a>
            </p>
        </form>
  <!-- Default form login -->
    </div> 
    </div>