  <div class="justify-content-center">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand centernav" href="#">MoviesPortal</a>
      <button (click)="togglenavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" [class.show]="isopen" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link centertoggle" routerLink="/" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">All Movies <span class="sr-only">(current)</span></a>
          </li>
          <!-- *ngIf="(isUser && MyUser.type == 2)" centernav.css-->
          <li class="nav-item">
            <a class="nav-link centertoggle" [routerLink]="['/updateprofile',1]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Account Settings<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="(isUser && MyUser.type == 1)">
            <a class="nav-link centertoggle" routerLink="/addmovie" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Movie</a>
          </li>
          <!-- *ngIf="(isUser && MyUser.type == 1)" -->
          <li class="nav-item">
            <a class="nav-link centertoggle" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="!isUser">
            <a class="nav-link centertoggle" routerLink="/signIn" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Sign In</a>
          </li>
          <li class="nav-item" *ngIf="!isUser">
            <a class="nav-link centertoggle" routerLink="/signUp" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Sign Up</a>
          </li>
          <li class="nav-item text-center" *ngIf="isUser">
            <button class="btn btn-danger" (click)="signOut()">LogOut</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>