.imgsize{
    width: 340px;
    height: 370px;
    position: relative;
}
.k{
    margin-bottom: 10px;
    width: 100% !important;
    box-sizing: border-box;
    display: table;
}

th{
    text-align: center;
}

.desc{
    height: 50px;
    background-color: rgba(0,0,0,.05);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
/*============== Loading data spinner ===================*/
.loading-spinner {
    position: absolute;
    left: 680px;
    top: 110px;
    z-index: 1;
  }